h1{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 30px;
}

.mat-form-field {
    width: 285px;
    margin-right: 30px;
}

::ng-deep .mat-form-field .mat-input-element {        
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}


::ng-deep .mat-form-field .mat-select-element{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.mat-option {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    font-size: 12px;
  }


::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: rgb(172, 172, 172);          
    }   
 }


.label{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

#cancel-button {
    width: 285px;
    font-weight: bold;
    border: 1px solid red;
    color: red;
}

#next-button{
    width: 285px;
    font-weight: bold;
    background-color: red;
    border: 1px solid red;
    color: white;

}

.mat-stroked-button{
    width: 285px;
}

.option-style{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

