.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: relative;
  top: 0;
  z-index: 10;
  align-items: center;
  background-color: #fff;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
