@import '~@angular/material/theming';
@include mat-core();

$my-primary: mat-palette($mat-grey, 900);
$my-accent: mat-palette($mat-green);

$my-theme: mat-light-theme($my-primary, $my-accent);


.default-shadow {
  // Adds a shadow for elevation level 2 with default color and full opacity:
  @include mat-elevation(2);
}

.custom-shadow {
  // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity:
  @include mat-elevation(2, #e91e63, 0.8);
}

@include angular-material-theme($my-theme);