.form{
    margin-bottom: 30px;
}

.container-fluid{
    margin-top: 30px;
}

h1{
    font-weight: bold;
    padding-bottom: 20px;
}

h2{
    padding-top: 20px;
}

.mat-form-field {
    width: 250px;    
    
}

.mat-stroked-button{
    width: 250px;
    box-shadow: 1px 1px 1px 1px #ccc
}

.input{
    box-shadow: 1px 1px 1px 1px #ccc;
}

.spacer{
    margin-top: 50px;
}

